:root {
  --font-color: #00177e;
  --secondary-color: #e1e0ff;
  --accent-color: #fcfdff;
  --background-color: #ffffff;
  --text-color: #333333;
  --highlight-color: #ff5100;
  --error-color: #8ea5ff;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

header {
  background-color: #ffffff;
  color: var(--font-color);
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: padding 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo{
  margin-left: 200px;
  width: 350px;
  height:80px;
  margin: 0;
  margin-left: 50px;
}

header.scrolled {
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 26, 255, 0.3);
}

.header-container {
  display: flex;
  justify-content: left;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: right;
  gap: 20px;
  font-size: 1.25rem;
}

nav ul li {
  margin: 0 20px;
  text-align: right;
}

nav ul li a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--highlight-color);
}

#hero {
  background-color: var(--highlight-color);
  color: var(--font-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 2s ease-out;
  background-image: url("your-image-url.jpg");
  background-size: cover;
  background-position: center;
}

#project-hero {
  background-color: var(--font-color);
}

#project-hero:hover {
  color: #fff;
}

.hero-content {
  transform: translateY(-50px);
  opacity: 0;
  animation: slideUp 1.5s ease-out forwards;
  z-index: 1;
  color: white;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#featured-projects,
#how-it-works,
#testimonials,
#call-to-action {
  padding: 50px 20px;
  text-align: center;
  animation: fadeIn 1.5s ease-out;
}

.project-card,
.step,
.testimonial {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 20px auto;
  padding: 30px;
  width: 80%;
  max-width: 320px;
  border-radius: 8px;
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card:hover,
.step:hover,
.testimonial:hover {
  transform: scale(1);
  opacity: 1;
}

.steps,
.testimonials-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  background-color: var(--highlight-color);
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.2em;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: var(--secondary-color);
  transform: translateY(-3px);
  color: var(--highlight-color);
}

footer {
  background-color: var(--font-color);
  color: var(--accent-color);
  padding: 5px;
  text-align: center;
  font-size: 0.9em;
}
